body{
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 2px solid red;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar ul li{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
}

.navbar ul li:hover{
    color: #4D8BFFFF;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.Hero{
    display: flex;
    gap: 50px;
}

.first{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    width: 50%;
    background-color: #0a0a0a;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.shade{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 2px #4D8BFFFF,0 0 80px 2px #4D8BFFFF;
}

.shade:hover{
    box-shadow: 0 0 0 1px #00BC7DFF,0 0 80px 2px #00BC7DFF;
}


.shade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.Hero .hi{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: rgb(255, 255, 255);
}

.Hero .name{
    display: flex;
    padding-top: 40px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: oklch(0.696 0.17 162.48);
}

.Hero .name:hover{
    color: #4D8BFFFF;
}

.Hero .job{
    padding-top: 10px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: oklch(0.696 0.17 162.48);
}

.kickline{
    padding-top: 20px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: oklch(1 0 0 / 0.75);
}

.About{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
    background-color: #0a0a0a;
}

.topic{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: white;
}

.sumup{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: oklch(1 0 0 / 0.75);
}

.skills{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    width: 100%;
    background-color: #0a0a0a;
}

.line{
    padding-top: 10px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: lightblue;
    list-style: none;
}

.cards li{
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
}

.cards h2{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: white;
    border-bottom: 2px solid red;

}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 90px;
    margin-top: 20px;
    justify-content: center;
}

.icons img{
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}


.projects{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    width: 100%;
    background-color: #0a0a0a;
}

.projects h2{
    display: flex;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: white;
    border-bottom: 2px solid red;
}

.projects li{
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.projects p{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: oklch(0.845 0.143 164.978);
}

.procards{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: lightblue;
    list-style: none;
}

.procards img{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
}

.achivements{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 300px;
    width: 100%;
    background-color: #0a0a0a;
}

.achivements ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: oklch(0.845 0.143 164.978);
}

.achivements li{
    display: flex;
    gap: 40px;
}

.achivements img{
    width: 100px;
    height: 25px;
}

.contact{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 300px;
    width: 100%;
    background-color: #0a0a0a;
    border-top: 2px solid red;
}

.contact .topic{
    padding: 40px;
}

.message{
    font-family: sfPro, "sfPro Fallback", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: white;
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message p{
    color: oklch(1 0 0 / 0.75);
}

.message img{
    width: 30px;
    height: 30px;
}

.message ul{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.message ul li{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}
